version: "3.9"

services:
  redis:
    image: redis:alpine
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"

  jobmaster:
    build: ./jobmaster
    container_name: jobmaster
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "4000:4000"
    depends_on:
      - redis

  worker:
    build: ./worker
    container_name: worker
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - redis
